@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {

  /*gradiente*/

  --cor01:#DBE2EC;
  --cor02: #0E23E5;
  --cor04: #a12323;
  --cor04:#052858de;

  --fonte-primary: 'League Gothic', sans-serif;
  --font-second: 'Lekton', sans-serif;
  --font-recipes: 'Marcellus', serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.all-recipes-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images//PAPEL\ PAREDE\ FOLHAS.png"); 
  background-size: cover; 
  background-repeat: no-repeat; 
 /*  background-color: rgb(219, 170, 158); */
}

.recipe-page-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15%;
  height: 100vh; 
/*   background-color: #4985da; */
}


.categories-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -552px;
  color: white;
  min-width: 35%;
  height: 80px;
  padding-top: 24px;
  text-align: center;
 /*  background-color: white; */
}

.categories-btn-all {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  border: 1px solid var(--cor02);
  outline-color: #516774;
  width: 75px;
  height: 35px;
  text-align: center;
  background-color: var(--cor02);
}

.eachCategory-btn {
  justify-content: center;
  color: white;
  border-radius: 20px;
  border: 1px solid var(--cor02);
  outline-color: #516774;
  width: 75px;
  height: 34px;
  text-align: center;
  background-color: var(--cor02);
}

.recipes-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
  width: 100%;
  height: 55%;
  margin: auto;
  margin-top: 13%; 
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: center;
  overflow-y: scroll;
/*   background-color: rgb(99, 72, 72); */
}


.eachRecipe {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinhar verticalmente no centro */
  margin: 5px;
  margin-left: 15%;
/*   border-top-left-radius: 0%; */
 /*  border-bottom-left-radius: 20%; */
  width: 70%;
/*   border-color: #dbe2ec3a; */
border-color: #a1232300;
  background-color: rgba(161, 150, 89, 0);
}

.eachRecipe img {
  max-height: 55%;
  max-width: 55%; /* Evitar que a imagem ultrapasse o container */
  height: auto; /* Manter proporção original */
  border-radius: 50%;
  /* margin-left: -10px; */
}

.eachRecipe p {
  flex-wrap: wrap;
  color: var(--cor02);
  font-family: var(--font-recipes);
  margin-left: 10%; /* Adicionar margem entre a imagem e o texto */
  text-align: left; 
  font-size: 160%;
/*   background-color: aqua; */
}

@media all and (max-width: 1366px) {
  .recipes-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    width: 100%;
    height: 55%;
    margin: auto;
    margin-top: 18%; 
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
    overflow-y: scroll;
  /*   background-color: rgb(99, 72, 72); */
  }
}

@media all and (max-width: 1440px) {
  .recipes-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    width: 100%;
    height: 55%;
    margin: auto;
    margin-top: 18%; 
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
    overflow-y: scroll;
  /*   background-color: rgb(99, 72, 72); */
  }
}